CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
_deps/
cmake_install.cmake
ediconv
lib/
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/Testing/
tests/cmake_install.cmake
tests/test_edifile
tests/test_schemafile
.idea/vcs.xml
tests/test_common
tests/test_xml2EdiProcessor
tests/test_xml2metaprocessor

